<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592929314417-plio8bem175pt7uqfus1c714jirijab3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592929314417-plio8bem175pt7uqfus1c714jirijab3</string>
	<key>API_KEY</key>
	<string>AIzaSyBtIP-z3WNBD5ZsXSqYkHPBkiCzl693tcg</string>
	<key>GCM_SENDER_ID</key>
	<string>592929314417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vit-k</string>
	<key>PROJECT_ID</key>
	<string>vkontakteios-7cc58</string>
	<key>STORAGE_BUCKET</key>
	<string>vkontakteios-7cc58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592929314417:ios:3fe4a9ee986587f1d92dd0</string>
	<key>DATABASE_URL</key>
	<string>https://vkontakteios-7cc58.firebaseio.com</string>
</dict>
</plist>